.setion-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // move the container 20% up the Viewport Height

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg); /* this is used to specfiy the grradient on a background Image*/
  background-size: cover; // the image will cover the size of the Element

  transform: skewY(-7deg); // disposition the Element on the page
  margin-top: -11.8rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11.8rem;

  @include respond(tab-port) {
    padding:  20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  // background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding:  10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding:  10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%; // this is for the image to fix in the exact width and height of its parent container
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
