.features {
//   background-color: $color-grey-light-2;
  grid-column: center-start / center-end;
  
  margin: 15rem 0;

  
  display: grid;
//   grid-template-columns: repeat(3, 1fr);
  //For responsiveness
  grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
//   grid-template-rows: auto auto;
  gap: 6rem;
  align-items: start;
  

  
  //this is used for browsers that don't support grid-template-columns
  @supports(display: grid){
    display: grid;
//   grid-template-columns: repeat(3, 1fr);
  //For responsiveness
  grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
//   grid-template-rows: auto auto;
  gap: 6rem;
  align-items: start;
  }
  //////////////////////////////////////////////////////////////////////////////////
}

.feature {

  
    //this is used for browsers that don't support grid-template-columns
  float: left;
  width: 33.333%;
  margin-bottom: 6rem;

  @supports(display: grid) {
    width: auto;
    margin-bottom: 0;
  }
  //////////////////////////////////////////////////////////////////////////////////
  
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
   

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        // grid-row: 1 / -1; // -1 only works with an explicit grid row (the row you difine)
        grid-row: 1 / span 2; 
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }


}